<h1>Word Puzzle!!</h1>

<form action="/word">
  <div class="form-group">
    <label for="word">Enter a word?
    </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
