<h1>Here's Your Puzzle</h1>

<h2><%= @word %></h2>
<p>Have fun trying to figure it out, brainiac!</p>
<p><img src='/img/hmm.png' alt='cartoon dude thinking' width='300' height='300'/></p>
<p>Oh, but if you typed in the original text you already know the answer. </p>


<p><a href='/seriously'>Play again?</a></p>
